snippet iq "import qualified" b
import qualified $0
endsnippet

snippet iqa "import qualified as" b
import qualified $1 as $0
endsnippet

snippet iqd "import qualified Data.* as *" b
import qualified Data.$1 as $1
endsnippet

snippet prag "LANGUAGE pragma" b
{-# LANGUAGE $1 #-}
endsnippet
